{% extends 'doc.html' %}
{% block content %}
    <body>
    <div class="doc__bg"></div>

    <div class="wrapper">
        <aside class="doc__nav">
            <ul>
                <li class="js-btn selected">SQL тіліне кіріспе:</li>
                <li class="js-btn ">Реляциялық мәліметтер</li>
                <li class="js-btn ">SQL WHERE</li>
                <li class="js-btn ">SQL AND, OR, NOT</li>
                <li class="js-btn ">SQL ORDER BY</li>
                <li class="js-btn ">SQL INSERT INTO</li>
                <li class="js-btn ">SQL NULL</li>
                <li class="js-btn ">SQL UPDATE</li>
                <li class="js-btn ">SQL Тарихы</li>
                <li class="js-btn "> SQL туралы мәлімет</li>
            </ul>
        </aside>
        <article class="doc__content">
            <section class="js-section">
                <h3 class="section__title">Кіреспе</h3>
                <p>SQL (Structured Query Language) – реляциялық деректер қорын басқару үшін арнайы әзірленген қуатты
                    және кеңінен қолданылатын бағдарламалау тілі. Ол пайдаланушыларға құрылымдық және ұйымдасқан түрде
                    деректерді сақтауға, алуға, жаңартуға және жоюға мүмкіндік беретін дерекқорлармен байланысудың
                    стандартты әдісін ұсынады. SQL — MySQL, PostgreSQL, SQL Server, Oracle және SQLite сияқты танымал
                    реляциялық дерекқорды басқару жүйелерімен (RDBMS) өзара әрекеттесу үшін стандартты тіл.</p>
                <p>
                    Дерекқорды басқарудағы SQL маңыздылығын асыра айту мүмкін емес. Міне, деректер базасын басқару
                    саласында SQL маңызды болуының кейбір негізгі себептері:
                </p>
                <ol>
                    <li class="m-2">Деректерді тиімді басқару: SQL реляциялық дерекқорлардағы деректерді басқаруға
                        арналған, соның ішінде деректерді кірістіру, шығарып алу, жаңарту және жою үшін пәрмендердің
                        толық жинағын қамтамасыз етеді. Ол үлкен көлемдегі деректерді тиімді ұйымдастыруға, сақтауға
                        және алуға мүмкіндік береді, бұл оны деректерді тиімді басқарудың маңызды құралына айналдырады.
                    </li>
                    <li class="m-2">Деректер тұтастығы және жүйелілігі: SQL реляциялық дерекқордағы деректердің
                        тұтастығы мен сәйкестігін қамтамасыз ететін бастапқы кілттер, сыртқы кілттер, бірегей шектеулер
                        және деректер түрлері сияқты деректер шектеулерін анықтау мүмкіндіктерін қамтиды. Бұл деректер
                        сәйкессіздіктерінің алдын алуға және деректер сапасын сақтауға көмектеседі, бұл дерекқорды
                        сенімді және дәл басқару үшін өте маңызды.
                    </li>
                    <li class="m-2">Қуатты деректерді іздеу және талдау: SQL сенімді сұрау мүмкіндіктерін қамтамасыз
                        етеді, бұл пайдаланушыларға әртүрлі сүзгілеу, сұрыптау және топтау опциялары бар SELECT
                        мәлімдемелерін пайдаланып бір немесе бірнеше кестелерден деректерді алуға мүмкіндік береді. SQL
                        сонымен қатар пайдаланушыларға дерекқорда сақталған деректер негізінде мағыналы түсініктерді
                        шығаруға және негізделген шешімдер қабылдауға мүмкіндік беретін жиынтық функциялар, ішкі
                        сұраулар және біріктіру операциялары сияқты кеңейтілген деректерді талдау мүмкіндіктерін
                        қолдайды.
                    </li>
                    <li class="m-2">Масштабтау және өнімділік: SQL дерекқорлары деректердің үлкен көлемін өңдеуге және
                        деректерді сақтау мен іздеудің тиімді механизмдерін қамтамасыз етуге арналған. SQL индекстеу,
                        кэштеу және сұрауды оңтайландыру сияқты мүмкіндіктерді қамтиды, олар дерекқор өнімділігін
                        оңтайландыруға және деректер көлемі өскен сайын масштабтауға мүмкіндік береді.
                    </li>
                    <li class="m-2">Қауіпсіздік және қол жеткізуді басқару: SQL деректердің рұқсатсыз кіруден немесе
                        өзгертуден қорғалуын қамтамасыз ету үшін пайдаланушыға кіруді, аутентификацияны және
                        авторизацияны басқаруға арналған кірістірілген қауіпсіздік мүмкіндіктерін қамтиды. SQL
                        дерекқорлары құпия деректерді қорғау үшін шифрлауды, тексеруді және басқа қауіпсіздік шараларын
                        қолдайды, бұл оны қауіпсіз дерекқорды басқарудың сенімді нұсқасына айналдырады
                    </li>
                    <li class="m-2">Стандарттау: SQL әр түрлі реляциялық дерекқорды басқару жүйелерінде сәйкес келетін
                        жақсы анықталған синтаксисі, семантикасы және мүмкіндіктері бар стандартталған тіл. Бұл
                        стандарттау SQL-ті жоғары портативті етеді, бұл пайдаланушыларға SQL дағдыларын әртүрлі дерекқор
                        платформаларында қолдануға және өзгеретін технологиялар мен орталарға бейімделуге мүмкіндік
                        береді.
                    </li>
                </ol>
                <p>Қорытындылай келе, SQL реляциялық деректер қорын басқарудың іргелі тілі болып табылады және
                    деректерді тиімді басқаруда, деректер тұтастығында, деректерді талдауда, масштабтауда, өнімділікте,
                    қауіпсіздікте және стандарттауда шешуші рөл атқарады. Бұл дерекқорды басқарумен, деректерді
                    талдаумен және деректер негізінде шешім қабылдаумен айналысатын кез келген адам үшін маңызды
                    құрал.</p>
                <hr>
            </section>
            <section class="js-section">
                <h3 class="section__title">Реляциялық мәліметтер қорын және олардың құрамдастарын түсіну</h3>
                <p> Реляциялық дерекқорлар – жолдар мен бағандар бар кестелік пішімдегі деректерді ұйымдастыратын
                    деректер
                    қорын басқару жүйесінің бір түрі. Реляциялық деректер қорының негізгі компоненттеріне мыналар
                    жатады:
                </p>
                <p>Кестелер: Кестелер реляциялық деректер қорының негізгі құрамдас бөлігі болып табылады, мұнда деректер
                    кестелік форматта жолдар мен бағандарда сақталады. Кестелерде сақталатын деректердің атрибуттарын
                    немесе
                    өрістерін анықтайтын баған атаулары мен деректер түрлері бар анықталған құрылым бар.
                </p>
                <p>Жолдар: Жазбалар немесе кортеждер деп те белгілі жолдар кестеде сақталған деректердің жеке даналарын
                    көрсетеді. Әрбір жол кестенің бағандарымен анықталған атрибуттарға сәйкес деректерді қамтиды.</p>
                <p>Бағандар: өрістер немесе атрибуттар ретінде белгілі бағандар кестеде сақталатын нақты деректер
                    элементтерін анықтайды. Әрбір бағанда мәтін, сандар, күндер немесе логикалық мәндер сияқты сол
                    бағанда
                    сақтауға болатын деректер түрін анықтайтын атау мен деректер түрі болады.</p>
                <p> Кілттер: Кілттер кестедегі жолдарды бірегей түрде анықтау және кестелер арасында байланыс орнату
                    үшін
                    қолданылады. Реляциялық деректер қорында кілттердің бірнеше түрі қолданылады, соның ішінде бастапқы
                    кілттер, сыртқы кілттер және бірегей кілттер. Бастапқы кілттер кестедегі әрбір жолды бірегей түрде
                    анықтайды, ал сыртқы кілттер басқа кестенің бастапқы кілтіне сілтеме жасау арқылы кестелер
                    арасындағы
                    қатынасты орнатады.</p>
                <p> Қатынастар: Қатынастар реляциялық дерекқордағы кестелер арасындағы ассоциацияларды немесе
                    байланыстарды
                    анықтайды. Қарым-қатынастардың ең көп тараған түрлері бір кестедегі деректердің басқа кестедегі
                    деректермен байланысын анықтайтын «бірден көпке», «көптен көпке» және «бірден көпке» қатынастары
                    болып
                    табылады.</p>
                <p> Нормалау: Нормалау - артықшылықты жою және деректердің тұтастығын қамтамасыз ету үшін реляциялық
                    дерекқордағы деректерді ұйымдастыру процесі. Ол деректердің қайталануын азайту және деректердің
                    сәйкестігі мен тұтастығын жақсарту үшін кестелерді кішірек, басқарылатын кестелерге бөлуді
                    қамтиды.</p>
                <p>SQL (Structured Query Language): SQL реляциялық дерекқорлармен байланысу үшін қолданылатын доменге
                    тән
                    тіл. Ол деректерді кірістіру, шығарып алу, жаңарту және жою, сондай-ақ әртүрлі сүзгілеу, сұрыптау
                    және
                    топтау опциялары арқылы деректерге сұрау салу сияқты кестелердегі деректерді басқаруға арналған
                    пәрмендер жинағын қамтамасыз етеді.
                </p>
                <p>Бұл құрамдастарды түсіну құрылымдық деректердің үлкен көлемін сақтауға, шығарып алуға және басқаруға
                    арналған әртүрлі қолданбаларда кеңінен қолданылатын реляциялық дерекқорларды тиімді жобалау, басқару
                    және сұрау үшін өте маңызды.</p>
                <pre>
        <code class="bg-dark">
                CREATE TABLE customers (
                id INT PRIMARY KEY,
                name VARCHAR(50),
                email VARCHAR(100)
                );

                INSERT INTO customers (id, name, email)
                VALUES (1, 'John Doe', 'johndoe@example.com'),
                (2, 'Jane Smith', 'janesmith@example.com'),
                (3, 'Michael Johnson', 'michaeljohnson@example.com');

                SELECT * FROM customers;
                SELECT id, name, email FROM customers WHERE id = 1;
                UPDATE customers SET email = 'updatedemail@example.com' WHERE id = 2;
                DELETE FROM customers WHERE id = 3;</code></pre>
            </section>
            <section class="js-section">
                <h3>SQL WHERE</h3>
                <p>Сөйлем WHERE жазбаларды сүзу үшін қолданылады.
                    Ол белгіленген шартты орындайтын жазбаларды ғана шығару үшін қолданылады.</p>
                <h4>WHERE Синтаксисі</h4>
                <pre>
                    <code>SELECT column1, column2, ...
                    FROM table_name
                    WHERE condition;</code>
                </pre>
                <p class="text-danger">Ескерту: Сөйлем WHERE тек сөйлемдерде ғана қолданылмайды , сонымен қатар т.б.
                    SELECT қолданылады !UPDATEDELETE</p>
            </section>
            <section class="js-section">
                <h3>SQL AND, OR және NOT операторлары</h3>
                <p> WHERE сөйлемін AND, OR және NOT операторларымен біріктіруге болады.

                    AND және OR операторлары бірнеше шарт негізінде жазбаларды сүзу үшін пайдаланылады:

                    AND операторы AND арқылы бөлінген барлық шарттар TRUE болса, жазбаны көрсетеді.
                    OR операторы OR арқылы бөлінген шарттардың кез келгені ШЫН болса, жазбаны көрсетеді.
                    Егер шарт(тар) АҚИҚАТ ЕМЕС болса, NOT операторы жазбаны көрсетеді.</p>
                <p>AND</p>
                <pre>
                    <code>
                        SELECT column1, column2, ...
                        FROM table_name
                        WHERE condition1 AND condition2 AND condition3 ...;
                    </code>
                </pre>
                <hr>
                <p>OR</p>
                <pre>
                    <code>
                        SELECT column1, column2, ...
                        FROM table_name
                        WHERE condition1 OR condition2 OR condition3 ...;
                    </code>
                </pre>
                <hr>
                <p>NOT</p>
                <pre>
                    <code>
                        SELECT column1, column2, ...
                        FROM table_name
                        WHERE NOT condition;
                    </code>
                </pre>
                <hr>


            </section>
            <section class="js-section">
                <h3>SQL ORDER BY</h3>
                <p>ORDER BY кілт сөзі нәтижелер жиынын өсу немесе кему реті бойынша сұрыптау үшін пайдаланылады.

                    ORDER BY кілт сөзі жазбаларды әдепкі бойынша өсу ретімен сұрыптайды. Жазбаларды кему реті бойынша
                    сұрыптау үшін DESC кілт сөзін пайдаланыңыз.</p>
                <hr>
                <p>ORDER BY</p>
                <pre>
                    <code>
                        SELECT column1, column2, ...
                        FROM table_name
                        ORDER BY column1, column2, ... ASC|DESC;
                    </code>
                </pre>
            </section>
            <section class="js-section">
                <h3>SQL INSERT INTO</h3>
                <p>
                    Кестеге жаңа жазбаларды енгізу үшін INSERT INTO операторы қолданылады.
                </p>
                <p>It is possible to write the INSERT INTO statement in two ways:
                    1. Specify both the column names and the values to be inserted:
                </p>
                <pre>
                    <code>
                        INSERT INTO table_name (column1, column2, column3, ...)
                        VALUES (value1, value2, value3, ...);
                    </code>
                </pre>
                <hr>
                <p>2. Кестенің барлық бағандары үшін мәндерді қосып жатсаңыз, SQL сұрауында баған атауларын көрсету
                    қажет емес. Дегенмен, мәндердің реті кестедегі бағандармен бірдей тәртіпте екеніне көз жеткізіңіз.
                    Мұнда INSERT INTO синтаксисі келесідей болады:
                </p>
                <pre>
                    <code>
                        INSERT INTO table_name
                        VALUES (value1, value2, value3, ...);
                    </code>
                </pre>
            </section>
            <section class="js-section">
                <h3>SQL NULL</h3>
                <p>NULL мәні дегеніміз не?
                    NULL мәні бар өріс - мәні жоқ өріс.

                    Кестедегі өріс міндетті емес болса, бұл өріске мән қоспай-ақ жаңа жазбаны енгізуге немесе жазбаны
                    жаңартуға болады. Содан кейін өріс NULL мәнімен сақталады.</p>
                <p>NULL мәндерін қалай тексеруге болады?
                    =, < немесе <> сияқты салыстыру операторларымен NULL мәндерін тексеру мүмкін емес.

                    Оның орнына IS NULL және IS NOT NULL операторларын пайдалануымыз керек.</p>
                <pre>
                    <code>
                        SELECT column_names
                        FROM table_name
                        WHERE column_name IS NULL;
                    </code>
                </pre>
                <hr>
            </section>
            <section class="js-section">
                <h3>SQL UPDATE</h3>
                <p>UPDATE операторы кестедегі бар жазбаларды өзгерту үшін пайдаланылады.</p>
                <p>UPDATE</p>
                <pre>
                    <code>
                        UPDATE table_name
                        SET column1 = value1, column2 = value2, ...
                        WHERE condition;
                    </code>
                </pre>
            </section>
            <section class="js-section">
                <h3>SQL тарихы</h3>
                <p>Құрылымдық сұрау тілі дегенді білдіретін SQL реляциялық дерекқорларды басқару үшін қолданылатын
                    бағдарламалау тілі болып табылады. Оны алғаш рет 1970 жылдары IBM компаниясының компьютер ғалымы
                    Дональд
                    Д.Кнут және оның әріптестері Раймонд Бойс пен Эдгар Ф.Кодд әзірледі.
                    SQL тарихы 1970 жылы Эдгар Ф. Коддтың алғашқы реляциялық дерекқор үлгісін жасауынан бастау алады.
                    Кодд
                    IBM-де компьютерлік ғалым болды және «Үлкен ортақ деректер банктері үшін деректердің реляциялық
                    моделі»
                    атты мақаласын жариялады. реляциялық деректер қоры түсінігін енгізген ACM (Association for
                    Computing</p>
                <p>Machinery) журналының коммуникациялары. Бұл жұмыста Кодд жиындар теориясына негізделген математикалық
                    тәсілді пайдаланып деректерді ұйымдастыру мен басқарудың жаңа әдісін ұсынды және деректерді көрсету
                    үшін
                    жолдар мен бағандар бар кестелер тұжырымдамасын енгізді.</p>
                <p>1970 жылдардың басында IBM компаниясы Codd реляциялық моделін жүзеге асырған System R деп аталатын
                    реляциялық деректер қорын басқару жүйесінің (RDBMS) прототипін жасады. R жүйесі SEQUEL (Structured
                    English QUEry Language) деп аталатын тілді пайдаланды, ол кейінірек SQL-ге айналды. SEQUEL табиғи
                    тілге
                    негізделген тіл болды, ол пайдаланушыларға ағылшын тіліне ұқсас мәлімдемелер арқылы дерекқормен
                    өзара
                    әрекеттесуге мүмкіндік берді.
                </p>
                <p>1974 жылы IBM System R жүйесін зерттеу жобасы ретінде шығарды және ол кейінгі көптеген басқа
                    реляциялық
                    дерекқор жүйелеріне негіз болды. SEQUEL атауы кейінірек сауда белгісі мәселелеріне байланысты SQL
                    болып
                    өзгертілді және SQL бастапқыда IBM жүйесі R және IBM әзірлеген басқа реляциялық дерекқорлар үшін
                    сұрау
                    тілі ретінде пайдаланылды.</p>

                <p> 1970 жылдардың аяғы мен 1980 жылдардың басында SQL реляциялық деректер қорын басқаруға арналған
                    стандартты тіл ретінде танымал болды және оны әртүрлі дерекқор жеткізушілері, соның ішінде Oracle,
                    Ingres және Sybase қабылдады. 1986 жылы Американың Ұлттық Стандарттар Институты (ANSI) SQL-86 деп
                    аталатын бірінші ресми SQL стандартын шығарды, ол SQL реляциялық деректер қорын басқаруға арналған
                    стандартталған тіл ретінде белгіледі.</p>

                <p>Содан бері SQL стандартына бірнеше рет қайта қараулар мен жаңартулар болды. SQL-89, SQL-92, SQL:1999,
                    SQL:2003, SQL:2006, SQL:2008, SQL:2011, SQL:2016 және SQL:2019 шығарылған SQL стандартының негізгі
                    нұсқаларының кейбірі. жылдар бойы. Әрбір нұсқа SQL-ге жаңа мүмкіндіктерді, синтаксисті және
                    функционалдылықты енгізді, бұл оны реляциялық дерекқорларды басқаруға арналған қуатты және жан-жақты
                    тілге айналдырды.

                    Бүгінгі таңда SQL реляциялық дерекқорлардағы деректерді басқару және манипуляциялау үшін әртүрлі
                    қолданбалар мен салаларда кеңінен қолданылады. Ол дерекқорлармен жұмыс істеудің іс жүзінде
                    стандартына
                    айналды және ол технология мен деректерді басқарудағы жаңа жетістіктермен дамиды.</p>

            </section>
            <section class="js-section">
                <h3>SQL туралы мәлімет</h3>
                <p>Стандартты SQL тіліне қоса, көптеген дерекқор жеткізушілері SQL тілінің «диалектілері» немесе
                    «дәмдері» ретінде белгілі SQL-дің меншікті кеңейтімдері мен вариацияларын да әзірледі. Бұл
                    диалектілерде белгілі бір дерекқор жүйесіне тән қосымша мүмкіндіктер немесе синтаксис болуы мүмкін
                    және олар әрқашан стандартты SQL-мен толық үйлесімді бола бермейді.


                </p>
                <p>Осы жылдар ішінде SQL дамуын жалғастырды және өзгермелі технологиялық үрдістерге және заманауи
                    деректерді басқару талаптарына бейімделді. Үлкен деректердің, бұлттық есептеулердің және кеңейтілген
                    аналитиканың пайда болуымен SQL дәстүрлі реляциялық дерекқорлардан тыс күрделі деректерді өңдеу
                    тапсырмаларын орындау үшін мүмкіндіктерін кеңейтті. Бүгінгі таңда SQL реляциялық дерекқорларды
                    басқару үшін ғана емес, сонымен қатар NoSQL дерекқорлары және бағаналық дерекқорлар сияқты
                    реляциялық емес дерекқорлармен жұмыс істеу үшін және кеңейтілген деректерді талдау және машиналық
                    оқыту тапсырмаларын орындау үшін қолданылады.</p>
                <p>Соңғы жылдары ашық бастапқы дерекқорларға деген өсу тенденциясы байқалды және MySQL, PostgreSQL және
                    SQLite сияқты бірнеше танымал ашық бастапқы дерекқорлар кеңінен қолданысқа ие болды. Бұл дерекқорлар
                    SQL-ті негізгі сұрау тілі ретінде пайдаланады және SQL-нің танымалдылығы мен эволюциясына ықпал
                    етті.

                    Қорытындылай келе, SQL реляциялық дерекқорлар үшін сұрау тілі ретінде алғаш рет жасалған 1970
                    жылдардан бастау алатын бай және дамып келе жатқан тарихқа ие. Содан бері ол реляциялық
                    дерекқорларды басқарудың іс жүзінде стандартына айналды және өзгермелі технология үрдістері мен
                    деректерді басқару талаптарына бейімделу үшін үздіксіз жаңартылып, кеңейтіліп отырды. Бүгінгі таңда
                    SQL әртүрлі салаларда және қолданбалы бағдарламаларда кеңінен қолданылады және ол мәліметтер
                    базасымен жұмыс істеу және деректерді басқару үшін негізгі құрал болып қала береді.</p>
            </section>
        </article>
    </div>
    </body>

{% endblock %}