{% extends 'doc.html' %}
{% block content %}
    <body>
    <div class="doc__bg"></div>

    <div class="wrapper">
        <aside class="doc__nav">
            <ul>
                <li class="js-btn selected">SQL тіліне кіріспе:</li>
                <li class="js-btn ">1.SQL көмегімен үлкен деректерді талдау</li>
                <li class="js-btn ">2.SQL және дерекқор дизайны AZ™: MS SQL Server + PostgreSQL үйреніңіз</li>
                <li class="js-btn ">3.SQL Server Management Studio бағдарламасында негізгі реляциялық деректер қорын құру</li>
                <li class="js-btn ">4.Деректер туралы ғылымға арналған SQL</li>
            </ul>
        </aside>
        <article class="doc__content">
            <section class="js-section">
                <h3 class="section__title">Кіріспе</h3>
                <p>SQL (Structured Query Language) – реляциялық деректер қорын басқару үшін арнайы әзірленген қуатты
                    және кеңінен қолданылатын бағдарламалау тілі. Ол пайдаланушыларға құрылымдық және ұйымдасқан түрде
                    деректерді сақтауға, алуға, жаңартуға және жоюға мүмкіндік беретін дерекқорлармен байланысудың
                    стандартты әдісін ұсынады. SQL — MySQL, PostgreSQL, SQL Server, Oracle және SQLite сияқты танымал
                    реляциялық дерекқорды басқару жүйелерімен (RDBMS) өзара әрекеттесу үшін стандартты тіл.</p>
                <p>
                    Дерекқорды басқарудағы SQL маңыздылығын асыра айту мүмкін емес. Міне, деректер базасын басқару
                    саласында SQL маңызды болуының кейбір негізгі себептері:
                </p>
                <ol>
                    <li class="m-2">Деректерді тиімді басқару: SQL реляциялық дерекқорлардағы деректерді басқаруға
                        арналған, соның ішінде деректерді кірістіру, шығарып алу, жаңарту және жою үшін пәрмендердің
                        толық жинағын қамтамасыз етеді. Ол үлкен көлемдегі деректерді тиімді ұйымдастыруға, сақтауға
                        және алуға мүмкіндік береді, бұл оны деректерді тиімді басқарудың маңызды құралына айналдырады.
                    </li>
                    <li class="m-2">Деректер тұтастығы және жүйелілігі: SQL реляциялық дерекқордағы деректердің
                        тұтастығы мен сәйкестігін қамтамасыз ететін бастапқы кілттер, сыртқы кілттер, бірегей шектеулер
                        және деректер түрлері сияқты деректер шектеулерін анықтау мүмкіндіктерін қамтиды. Бұл деректер
                        сәйкессіздіктерінің алдын алуға және деректер сапасын сақтауға көмектеседі, бұл дерекқорды
                        сенімді және дәл басқару үшін өте маңызды.
                    </li>
                    <li class="m-2">Қуатты деректерді іздеу және талдау: SQL сенімді сұрау мүмкіндіктерін қамтамасыз
                        етеді, бұл пайдаланушыларға әртүрлі сүзгілеу, сұрыптау және топтау опциялары бар SELECT
                        мәлімдемелерін пайдаланып бір немесе бірнеше кестелерден деректерді алуға мүмкіндік береді. SQL
                        сонымен қатар пайдаланушыларға дерекқорда сақталған деректер негізінде мағыналы түсініктерді
                        шығаруға және негізделген шешімдер қабылдауға мүмкіндік беретін жиынтық функциялар, ішкі
                        сұраулар және біріктіру операциялары сияқты кеңейтілген деректерді талдау мүмкіндіктерін
                        қолдайды.
                    </li>
                    <li class="m-2">Масштабтау және өнімділік: SQL дерекқорлары деректердің үлкен көлемін өңдеуге және
                        деректерді сақтау мен іздеудің тиімді механизмдерін қамтамасыз етуге арналған. SQL индекстеу,
                        кэштеу және сұрауды оңтайландыру сияқты мүмкіндіктерді қамтиды, олар дерекқор өнімділігін
                        оңтайландыруға және деректер көлемі өскен сайын масштабтауға мүмкіндік береді.
                    </li>
                    <li class="m-2">Қауіпсіздік және қол жеткізуді басқару: SQL деректердің рұқсатсыз кіруден немесе
                        өзгертуден қорғалуын қамтамасыз ету үшін пайдаланушыға кіруді, аутентификацияны және
                        авторизацияны басқаруға арналған кірістірілген қауіпсіздік мүмкіндіктерін қамтиды. SQL
                        дерекқорлары құпия деректерді қорғау үшін шифрлауды, тексеруді және басқа қауіпсіздік шараларын
                        қолдайды, бұл оны қауіпсіз дерекқорды басқарудың сенімді нұсқасына айналдырады
                    </li>
                    <li class="m-2">Стандарттау: SQL әр түрлі реляциялық дерекқорды басқару жүйелерінде сәйкес келетін
                        жақсы анықталған синтаксисі, семантикасы және мүмкіндіктері бар стандартталған тіл. Бұл
                        стандарттау SQL-ті жоғары портативті етеді, бұл пайдаланушыларға SQL дағдыларын әртүрлі дерекқор
                        платформаларында қолдануға және өзгеретін технологиялар мен орталарға бейімделуге мүмкіндік
                        береді.
                    </li>
                </ol>
                <p>Қорытындылай келе, SQL реляциялық деректер қорын басқарудың іргелі тілі болып табылады және
                    деректерді тиімді басқаруда, деректер тұтастығында, деректерді талдауда, масштабтауда, өнімділікте,
                    қауіпсіздікте және стандарттауда шешуші рөл атқарады. Бұл дерекқорды басқарумен, деректерді
                    талдаумен және деректер негізінде шешім қабылдаумен айналысатын кез келген адам үшін маңызды
                    құрал.</p>
                <hr>
            </section>
            <section class="js-section">
                <h3>SQL көмегімен үлкен деректерді талдау</h3>
                <p>Бұл бастауыш курс Coursera бағдарламасында оқытылады. Шамамен 18 сағат ішінде осы курсқа жазылған
                    студенттер SQL бойынша негізгі білімді меңгереді.

                    Курс жоспары SQL SELECT және оған қатысты тармақтардың егжей-тегжейлі шолуын қамтиды. Курс Apache
                    Impala және Apache Hive SQL қозғалтқыштарына бағытталған.

                    VM үшін кейбір аппараттық талаптар бар және бұл бағдарламаға тіркелмес бұрын студенттердің SQL
                    тілінде білімі мен тәжірибесі бар деп есептеледі.

                    Курс тегін сынақ нұсқасын береді және ақпан айында басталады. Курс жоспары мыналарды қамтиды:

                    Үлкен деректерде SQL-ге бағдарлау
                    SQL SELECT Essentials
                    Деректерді сүзу
                    Мәліметтерді жинақтау және топтау
                    Деректерді біріктіру
                    Мәліметтерді шектеу және сұрыптау</p>
            </section>
            <section class="js-section">
                <h3> SQL және дерекқор дизайны AZ™: MS SQL Server + PostgreSQL үйреніңіз</h3>
                <p>Бұл SQL курсы бастауыш курс емес. Ол индекстер, бірнеше кестелермен SQL сұрауларын жазу және оларды
                    біріктіру сияқты кеңейтілген түсініктерді түсіндіреді.

                    Сондай-ақ, студенттер дерекқорды жобалау тұжырымдамаларын зерттейді, мысалы, нормалау. Ол негізгі
                    SQL сұрауларын жасау жолымен қатар біріктірудің әртүрлі түрлерін егжей-тегжейлі түсіндіреді.

                    Бұл курсты барынша тиімді пайдалану үшін сіз Microsoft SQL Server және PostgreSQL екеуін де білуіңіз
                    керек. Студенттер деректерді талдау дағдыларын нақты әлемдегі деректер ғылымы жаттығуларымен
                    жақсартады.
                </p>
            </section>
            <section class="js-section">
                <h3> SQL Server Management Studio бағдарламасында негізгі реляциялық деректер қорын құру </h3>
                <p>Coursera-дағы бұл жетекші жобада қазірдің өзінде 4 917-ден астам студент тіркелген. Бұл негізгі SQL
                    серверін басқару студиясын үйрететін бастауыш курс. Студенттер қарапайым сұрау салуды және оны SSMS
                    жүйесінде қолдануды үйренеді.

                    Бір сағат бес минуттан кейін кестелер мен бағандарды жасау үшін SQL пәрмендерін жасауды және іске
                    қосуды үйренесіз.

                    Практикалық тәжірибелерді аяқтасаңыз, SQL Server сыныптарында SSMS жүйесінде осы негізгі ұғымдарды
                    қолдануда жақсырақ боласыз. Бұл курс $9.99 тұрады.</p>
            </section>
            <section class="js-section">
                <h3>Деректер туралы ғылымға арналған SQL
                </h3>
            </section>
        </article>
    </div>
    </body>

{% endblock %}