{% extends 'base.html' %}
{% block content %}
    <div class="hero my-5">
        <h1 class="hero__title">SQL курсын үйренуге қош келдіңіз!</h1>
        <span class="badge bg-success">Structured Query Language</span>
    </div>
    <div class="hero__terminal" style="background-color: rgba(171,243,255,0.6)">
      <pre>
        <code class="shell-session demo text-center" style="padding-top: 65px; background-color: rgba(0, 0, 0, 0);

">"<h1 style="color: #181818;">"Деректерді талдау үшін SQL" курсы</h1></code>
      </pre>
    </div>
    <div class="wrapper">
        <div class="installation my-5">
            <h3 class="section__title">Курс парақшасы!</h3>
            <div class="tab__container">
                <ul class="tab__menu">
                    <li class="tab active" data-tab="mac">сілтеме <span class="badge bg-danger">SQLITE</span></li>
                </ul>
                <pre class="nohighlight code">
            <a class="tab__pane active mac" href="{% url 'doc' %}">енді оқу оңай!</a>

          </pre>
            </div>
        </div>
        <div class="feature my-5" style="text-align: center">
            <div class="feature__item">
                <h3 class="section__title my-5">Деректер тұтастығы!</h3>
                <p>SQL дерекқорлары дерекқорға енгізілген деректердің алдын ала анықталған құрылым мен пішімге сәйкес
                    келуін қамтамасыз ете отырып, қатаң деректер тұтастығы ережелерін бекітеді. Бұл деректердің
                    дәйектілігі мен дәлдігін сақтауға, деректердің бүлінуін немесе қайталануын болдырмауға
                    көмектеседі..</p>
            </div>
            <div class="feature__item my-5">
                <h3 class="section__title">Масштабтау мүмкіндігі</h3>
                <p>SQL дерекқорлары деректердің үлкен көлемін өңдеуге арналған және жоғары масштабталады. Олар үлкен
                    деректер жиынын тиімді басқара алады және бір мезгілде пайдаланушы сұрауларын өңдей алады, бұл
                    оларды өсіп келе жатқан кәсіпорындар мен қолданбалардың деректер қажеттіліктерін өңдеуге қолайлы
                    етеді.</p>
            </div>
            <div class="feature__item my-5">
                <h3 class="section__title">Реляциялық модель</h3>
                <p>SQL дерекқорлары кестелер, жолдар және бағандармен құрылымдық форматта деректерді оңай ұйымдастыруға
                    және басқаруға мүмкіндік беретін реляциялық модельді пайдаланады. Бұл деректерді тиімді сұрауға,
                    сұрыптауға және сүзуге мүмкіндік беретін әртүрлі деректер жиындары арасындағы қарым-қатынастарды
                    орнатуды жеңілдетеді.</p>
            </div>
            <div class="feature__item my-5">
                <h3 class="section__title">Сұраныстарды оңтайландыру</h3>
                <p>SQL дерекқорларында тиімді орындау үшін күрделі сұрауларды автоматты түрде оңтайландыратын
                    кірістірілген сұрауларды оңтайландырушылар бар. Бұл үлкен деректер жинақтарымен жұмыс істегенде де
                    сұраулардың жылдам және нәтижелі орындалуын қамтамасыз етеді, бұл деректерді тиімді іздеуге және
                    талдауға мүмкіндік береді.</p>
            </div>
            <div class="feature__item my-5">
                <h3 class="section__title">Деректер қауіпсіздігі</h3>
                <p>SQL дерекқорлары деректерді рұқсатсыз кіруден қорғау, деректердің құпиялылығын және деректерді қорғау
                    ережелеріне сәйкестікті қамтамасыз ету үшін пайдаланушы аутентификациясы, авторизация және шифрлау
                    сияқты сенімді қауіпсіздік мүмкіндіктерін ұсынады..</p>
            </div>
            <div class="feature__item my-5">
                <h3 class="section__title">Кең индустрияны қабылдау</h3>
                <p>SQL - әзірлеушілер мен пайдаланушылардың үлкен қауымдастығы бар кең таралған және жақсы қолдау
                    көрсетілетін тіл. Бұл SQL әзірлеу үшін қолжетімді ресурстардың, құралдардың және кітапханалардың көп
                    екенін білдіреді, бұл жалпы қиындықтарға қолдау мен шешімдерді табуды жеңілдетеді.</p>
            </div>
        </div>
        <div class="keybinding my-5">
            <ul class="keybinding__detail">
                <h3 class="keybinding__title">курстың артықшылығы</h3>
                <li>Екі парақшалық <span class="keybinding__label">+</span></li>
                <li>Тездік <span class="keybinding__label">+</span></li>
                <li>Дизайнды және ыңғайлы <span class="keybinding__label">+</span></li>
                <li>Сенімді деректер <span class="keybinding__label">+</span></li>
            </ul>
            <ul class="keybinding__detail">
                <h3 class="keybinding__title">қандай профессия</h3>
                <li><span class="keybinding__label">🤑</span> Деректер базасының әкімшісі (DBA)</li>
                <li><span class="keybinding__label">⚙</span> Деректер талдаушысы</li>
                <li><span class="keybinding__label">🗿</span> Деректер инженері</li>
                <li><span class="keybinding__label">🌐</span> Business Intelligence (BI) әзірлеушісі</li>
            </ul>
        </div>
        <div class="callout my-5">
            <span class="badge bg-info">UI/UX</span>
            <p>Біздің курс әр адамға қолайлы</p>
            <a href="{% url 'about' %}" class="button--primary">Құжаттама</a>
        </div>
        <div class="container my-5">
            <h3>Әр түрлі салалардағы көптеген компаниялар мен ұйымдар SQL (құрылымдық сұрау тілі) тілін пайдаланады.
                SQL қолданатын компаниялар: <span class="badge bg-warning">🏦</span>
            </h3>
            <ul>
                <li>
                    Amazon: ғаламдық электрондық коммерция алыбы тұтынушы деректерінің үлкен көлемін басқару,
                    тапсырыстарды өңдеу, қорларды басқару және басқа да маңызды бизнес операцияларын басқару үшін SQL
                    пайдаланады.
                </li>
                <li>
                    Google: жетекші іздеу жүйесі және технологиялық компания іздеу сұрауларына, жарнамаларды басқаруға,
                    пайдаланушы тіркелгілеріне және басқа қызметтерге қатысты деректерді басқару үшін SQL пайдаланады.
                </li>
                <li>Microsoft: бағдарламалық құрал алыбы Azure бұлттық қызметтері, Office 365 және Dynamics CRM сияқты
                    өнімдері мен қызметтеріне қатысты деректерді басқару үшін SQL пайдаланады.
                </li>
                <li>Facebook: Әлеуметтік медиа алыбы пайдаланушы деректерін, мазмұнды және жарнаманы басқару үшін,
                    сондай-ақ деректерді талдау және бизнес-интеллект үшін SQL пайдаланады.
                </li>
                <li>PayPal: Онлайн төлем платформасы транзакцияларды, тұтынушы деректерін, алаяқтықты анықтау және
                    қаржылық есептілікті басқару үшін SQL пайдаланады.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}